# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env/

# Archivos generados por tu app
uploads/
outputs/
*.txt

# Configuración local de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
